*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
}
p{
    font-size: 20px;
    line-height: 30px;
    color: #6c757d;
}
.r-p{
    padding-top: 80px;
    padding-bottom: 80px;
}
.bg-sec{
    background-color: #f8f9fa;
}