.about img{width: 65%;}
.about li a{
    color: #2ecc71;
    display: inline-block;
    height: 42px;
    width: 42px;
    font-size: 20px;
    border: 2px solid #3498db;
    border-radius: 50%;
    line-height: 40px;
    transition: 0.5s all;
    text-align: center;
}
.about li a:hover{color: #e74c3c;}